<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lugh{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/jquery.fullpage.css') }}">

            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-5NGNL5R');</script>
            <!-- End Google Tag Manager -->
        {% endblock %}
    </head>
    <!-- Google Tag Manager -->

    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NGNL5R"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="sidebar" id="sidebar">
        <nav>
<<<<<<< HEAD
            <ul class="midnightHeader default"><li class="active">
                    <a class="midnightHeader btn-menu" href="/" data-text="deposer un projet"><div>deposer un projet</div></a></li>
                <li><a class="btn-menu" href="/" data-text="Voir les artistes"><div>Voir les artistes</div></a></li>
                {% if is_granted('ROLE_USER') == false  %}
                <li><a class="btn-menu" href="/login" data-text="Se connecter"><div>Se connecter</div></a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') == true  %}
                <li><a class="btn-menu" href="/logout" data-text="Se connecter"><div>Se Déconnecter</div></a></li>
                {% endif %}
                <li><a class="btn-menu" href="/" data-text="Contact"><div>Contact</div></a></li></ul>





=======
            <ul>
                <li><a class="btn-menu nav-projet" href="/" data-text="deposer un projet">deposer un projet</a>
                    <div id="div-projet">deposer un projet</div>
                </li>
                <li><a class="btn-menu nav-voir" href="/" data-text="Voir les artistes">Voir les artistes</a>
                    <div id="div-voir">Voir les artistes</div>
                </li>
                <li><a class="btn-menu nav-connexion" href="/login" data-text="Se connecter">Se connecter</a>
                    <div id="div-connexion">Se connecter</div>
                </li>
                <li><a class="btn-menu nav-contact" href="/" data-text="Contact">Contact</a>
                    <div id="div-contact">Contact</div>
                </li>
            </ul>
>>>>>>> c657607edc13518d9f9002a81b572fd83ead44c0
        </nav>
    </div>

    <div class="all-content">
    {% block layout_content %}
            {% endblock %}
    </div>

    <footer>
<<<<<<< HEAD
        <ul>
            <li>© Lugh</li>
            <li>Presse</li>
            <li>Livre Blanc</li>

        </ul>

        <ul id="rs">
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Linkedin</li>
            <li>Medium</li>
=======
        <div id="copyright">
            <ul>
                <li>© Lugh</li>
                <li>Presse</li>
                <li>Livre Blanc</li>
            </ul>
        </div>
        <div id="rs">
            <ul>
                <li><a target="_blank" href="https://twitter.com/Hello_lugh">twitter</a></li>
                <li><a target="_blank" href="https://www.facebook.com/Lugh-art-sur-commande-en-entreprise-567883830278473/">facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/lugh_france/">instagram</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/lugh-entreprise/">linkedin</a></li>
                <li><a target="_blank" href="https://medium.com/@lugh.entreprise">medium</a></li>
            </ul>
        </div>
    </footer>
>>>>>>> c657607edc13518d9f9002a81b572fd83ead44c0



    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/scrollreveal.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.fullpage.min.js') }}"></script>


        <script>

        $(document).ready(function(){
            $("#first-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "black");
            });
        });

        $(document).ready(function(){
            $("#second-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "white");
            });
        });


        $(document).ready(function(){
            $("#third-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "black");
            });
        });

        $(document).ready(function(){
            $("#fourth-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "white");
            });
        });


        window.sr = ScrollReveal({ reset: true });
        sr.reveal('#second-section');
        sr.reveal('#third-section');
        sr.reveal('#fourth-section');



        $(".sidebar").hover(function() {
            $(".all-content").addClass("nav-active");
        });


        $(document).ready(function() {
            $('.sidebar').hover(function(){
                    $('.all-content').addClass('nav-active');
                },
                function(){
                    $('.all-content').removeClass('nav-active');
                });
        });


        </script>
    <script>

<<<<<<< HEAD
=======
        /*$('.btn-menu').mouseover(function(){
            document.getElementById('fullscreen').classList.add('fullscreen-hover');
        })
        $('.btn-menu').mouseout(function(){
            document.getElementById('fullscreen').classList.remove('fullscreen-hover');
        })*/
       /*$(document).ready(function(){
           // Change this to the correct selector.
           $('nav.sidebar').midnight();
       });

       $('.btn-menu').mouseover(function(){
          document.getElementById('fullscreen').classList.add('fullscreen-hover')

       })
       $('.btn-menu').mouseout(function(){
           document.getElementById('fullscreen').classList.remove('fullscreen-hover')

       })*/
>>>>>>> c657607edc13518d9f9002a81b572fd83ead44c0

    </script>

    {% endblock %}
    </body>
</html>